---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import DonationSection from '../components/DonationSection.astro';
import { SITE_TITLE } from '../consts';

const title = `${SITE_TITLE} — Donate`;
const description = 'Support the project with a donation';
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body>
    <Header />

    <main>
      <article style="max-width:900px;margin:1rem auto;padding:.15rem;">
        <h1 style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: clamp(1.3rem, 5vw, 2.25rem); text-align: center; margin-left: auto; margin-right: auto;">
          Buy me a coffee
        </h1>
        <p style="margin-top: .125rem; text-wrap: balance; max-width: 30rem; margin-left: auto; margin-right: auto; color: var(--text-65); text-align: center; font-size: clamp(0.8rem, 2.2vw, 0.95rem);">
          Thank you for considering supporting this Community.
        </p>
        <DonationSection />
      </article>
    </main>

    <Footer />
  </body>
</html>
